.drop{
    display: inline-block;
    margin: 0 10px;
}
.fields{
    padding-left: 8px;
    width: 170px;
}
.folderFieldContractor{
    text-align: center !important;
}

.option{
    justify-items: center;
    text-align: center;
}

mat-form-field{
    width: 240px !important;
}

.action{
    margin-right: 10px !important;
}
.fieldsName{
    width: 450px !important;
    width: 170px;
}
